.tall{
    height: 18rem;
}
.picture{
    height: 13rem;
    width: 10rem;
}

    @media(max-width: 600px){
    #disappear{
        display: none;
    }
}

.is-hidden{
display: none;
}
.multiplyer{
    display: block;
    /* border-block: solid; */
    height: 4rem;
    width: 5rem;
    background-color: black;
}

.unclickable{
    display: block;
border-radius: 20%;
height: 10rem;
width: 6rem;
background-color: rgb(71, 71, 71);
opacity: 50%;
}
.is-visible{
display: block;
border-radius: 20%;
height: 10rem;
width: 6rem;
background-color: rgb(59, 59, 59);
opacity: 100%;
color: honeydew;
}

.bg-black{
    background-color: black;
}

.button-design{
    border-radius: 3rem;
}