.tall{
    height: 18rem;
}
.picture{
    height: 13rem;
    width: 10rem;
}

    @media(max-width: 600px){
    #disappear{
        display: none;
    }
}
.is-hidden{
display: none;
}

.unclickable{
    display: block;

height: 10rem;
width: 6rem;
background-color: rgb(170, 67, 49);
opacity: 50%;
}
.is-visible{
display: block;

height: 10rem;
width: 6rem;
background-color: rgb(170, 67, 49);
opacity: 100%;
}

.bg-black{
    background-color: black;
}

.button-design{
    border-radius: 3rem;
}